:root {
    /* ### Primary */

    --Red: hsl(0, 100%, 74%) ;
    --Green: hsl(154, 59%, 51%);
    
    /* ### Accent */
    
    --Blue: hsl(248, 32%, 49%);

    /* ### Neutral */
    
    --Dark-Blue:hsl(249, 10%, 26%) ;
    --Grayish-Blue: hsl(246, 25%, 77%);
}

*{
    color: white;
    font-family: Poppins,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/* Desktop */

body{
    background: url(./images/bg-intro-desktop.png) no-repeat hsl(0, 100%, 74%);
}

.error-icon,
.error-text {
    visibility: hidden;
}

.field-group.error .error-icon{
    visibility: visible;
}
.field-group.error .error-text {
    visibility: visible;
}

.field-group.error input {
    border: var(--Red) solid 1px;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 0px;
    margin: 7% auto;
    width: 86%; 
    height: 70vh;
}


section{
    width: 40%;
}

.section1{
    margin-top: 60px;
}

h1{
    width: 90%;
    font-size: 50px;
    line-height: 60px;
}

.description1{
    margin-top: 7%;
}

.section2{
    margin-top: -3%;
    margin-left: -14%;
}

.link, .link-text{
    text-decoration: none;
    font-weight: 700;
    background: var(--Blue);
    text-align: center;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 5px 0 hsla(248, 32%, 49%, 0.315);
}

.section2 .link span{
    font-weight: initial;
    opacity: .7;
}

.container{
    background: white;
    border-radius: 8px;
    height: 90%;
    text-align: center;
    box-shadow: 0 5px 0 hsla(248, 32%, 49%, 0.315);
}

form{
    margin-top: 20px;
}

input{
    border: lightgray solid 1px;
    border-radius: 5px;
    font-weight: 600;
    padding: 10px;
    color: var(--Dark-Blue);
    width: 80%; 
    margin-bottom: 15px;
    margin-left: 5%;
}

.error-icon{
    box-sizing: border-box;
    position: relative;
    top: 7px;
    right: 40px;
    display: inline-block;
}

.error-text{
    box-sizing: border-box;
    text-align: right;
    position: relative;
    bottom:15px;
    right: 11%;
    color: red;
    font-size: 10px;
    display: block;
}

#fname{
    margin-top: 50px;
}

#email-error{
    font-size: 9px;
}

#email-verify-error{
    display: none;
}

input:focus{
    outline-color: var(--Blue);
}

.input-class::placeholder {
    color: var(--c,white);
}

.email::placeholder {
    color: var(--c,red);
}

#submit{
    color: white;
    border: none;
    background: var(--Green);
    border-radius: 5px;
    padding: 15px 20px;
    text-transform: uppercase;
    width: 84%; 
    box-shadow: 0 3px 0 hsl(154, 66%, 38%);
    cursor: pointer;
}

#submit:active{
    transform: scale(.95);
}

button:hover, a:hover, .link-text:hover {
    opacity: 0.8;
}

.description2{
    color: var(--Grayish-Blue);
    font-size: 10px;
    font-weight: 700;
    margin-top: 20px;
    padding-bottom: 30px;
}

.link2{
    color: var(--Red);
    text-decoration: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Mobile */

@media (max-width:1035px) {
    
    main{
        flex-direction: column;
        text-align: center;
        margin: auto 10% auto 8%;
    }

    section{
        width: 90%;
    }

    h1{
        font-size: 30px;
        margin-top: 500px;
        margin-left: 7%;
        margin-right: 7%;
        line-height: 40px;
    }

    .description1{
        margin-bottom: 65px;
        margin-top: 10%;
    }

    .section2{
        margin-left: initial;
    }

    .link-p {
        margin-left: 0%;
        margin-top: 0%;
    }

    input{
        margin-bottom: -10px;
        margin-right: 13px;
        width: 80%;
    }

    #submit{
        padding: 10px;
        width: 87%; 
    }

    .description2{
        margin-right: 10%;
        margin-left: 10%;
    }
    .attribution{
        margin-top: 490px;
        margin-left: 10px;
    }
}
